name: flutter_circle_color_picker
description: A beatiful circle color picker which picks hsl color for flutter.
version: 0.1.1
homepage: https://github.com/itome/flutter_circle_color_picker

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
